<div class="well">
  <h4><%= model_with_builds.name %></h4>
  <ul>
    <li>ID: <%= link_span(model_with_builds.id, model_path(model_with_builds))%></li>
    <li>Subject Name: <%= link_span(model_with_builds.subject.name, subject_path(model_with_builds.subject)) %></li>
    <li>Subject Type: <%= model_with_builds.subject_class_name %></li>
    <li>Username: <%= model_with_builds.user_name %></li>
    <li>Created: <%= time_tag model_with_builds.creation_date.localtime %></li>
  </ul>
  <div class="well">
    Inputs
    <ul>
      <%= render partial: 'model_input/li', collection: model_with_builds.model_inputs %>
    </ul>
    <% if model_with_builds.builds.any? %>
      <div>
        <table class="table table-striped">
          <tr>
            <th>build</th>
            <th>status</th>
            <th>scheduled</th>
            <th>completed</th>
            <th>data directory</th>
          </tr>
          <%= render partial: 'build/build_table_row', collection: model_with_builds.builds %>
        </table>
      </div>
  <% end %>
  </div>
</div>
