<div class="hero-unit">
  <h2>Model</h2> <%=@genome_model.name %>
</div>

<div class="span4 well">
  <div class="page-header">
      <h3>Model Attributes</h3>
  </div>
  <dl>
    <dt>ID</td><dd><%= @genome_model.id %></dd>
    <dt>User</dt><dd><%= @genome_model.user_name %></dd>
    <dt>Build Requested</dt><dd><%= @genome_model.build_requested %></dd>
    <dt>Creation Date</dt><dd><%= @genome_model.creation_date %></dd>
    <dt>Subject</dt><dd><%= link_span @genome_model.subject_id, subject_path(@genome_model.subject_id) %></dd>
    <dt>Last Complete Build</dt>
    <dd>
      <% if @last_complete_build %>
        <ul>
          <li><%= link_span(@last_complete_build.build_id, build_path(@last_complete_build))  %></li>
          <li><%= link_span('data directory', "http://gscweb.gsc.wustl.edu#{@last_complete_build.data_directory}", 'icon-folder-open icon-white')   %></li>
          <li><%= link_span('Summary Report', "http://gscweb.gsc.wustl.edu#{@last_complete_build.data_directory}/reports/Sumamry/report.html", 'icon-file icon-white')  %></li>
        </ul>
      <% else %>
        none
      <% end %>
    </dd>
  </dl>
</div>

<div class="span4 well">
    <div class="page-header">
        <h3>Processing Profile</h3>
    </div>
    <dl>
        <dt>Name</dt><dd><%= link_span(@genome_model.processing_profile.name, processing_profile_path(@genome_model.processing_profile)) %></dd>
        <dt>Type</dt><dd><%= @genome_model.processing_profile.type_name %></dd>
    </dl>
</div>

<div class="span12 well">
  <div class="page-header">
    <h2>Inputs</h2>
  </div>
  <dl>
    <% @inputs_by_name.each_pair do |name, inputs| %>
      <dt><%= name %> <%= content_tag :span, inputs.count, class: 'badge' %></dt>
      <dd>
        <ul>
          <%= render partial: 'model_input/li', collection: inputs %>
        </ul>
      </dd>
    <% end %>
  </dl>
</div>

<% if @genome_model.from_model_links.any? || @genome_model.to_model_links.any? %>
  <div class="span12 well">
    <div class="page-header">
      <h2>Model Links</h2>
    </div>

    <table class="table">
      <thead>
        <tr><th>Relationship</th><th>Model</th></tr>
      </thead>

      <tbody>
        <% if @genome_model.from_model_links.any? %>
          <% @genome_model.from_model_links.each do |link| %>
            <tr>
              <td>Contains <%= link.role %></td>
              <td>Model <%= link_span(link.to_model_id, genome_model_path(link.to_model_id)) %> <%= link.to_model.name %></td>
            </tr>
          <% end %>
        <% end %>

        <% if @genome_model.to_model_links.any? %>
          <% @genome_model.to_model_links.each do |link| %>
            <tr>
              <td><%= link.role %> of</td>
              <td>Model <%= link_span(link.from_model_id, genome_model_path(link.from_model_id)) %> <%= link.to_model.name %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>


<div class="span12">
  <div class="page-header">
    <h2>Builds</h2>
  </div>

  <% if @builds  %>
    <table class="table">
      <thead> <tr>
          <th>Build</th>
          <th>Status</th>
          <th>Scheduled</th>
          <th>Completed</th>
          <th>other</th>
      </thead></tr>
      <tbody>
        <%= render partial: 'build/build_table_row', collection: @builds, :locals => { :missing_inputs_for_build => @delta_inputs_for_build } %>
      </tbody>
    </table>
  <% end %>
</div>
