<h1>Model Group: <%= @mg.name %></h1>
<div>
  <h2>Model Group Attributes:</h2>
  <ul>
    <li>ID: <%= @mg.id %></li>
    <li>Name: <%= @mg.name %></li>
    <li>User Name: <%= @mg.user_name %></li>
    <li>Model Count: <%= @mg.genome_models.count %></li>
  </ul>
</div>

<div>
  <%= render partial: 'genome_model/genome_model_with_builds', collection: @mg.genome_models %>
</div>


