<tr>
    <td><%= build_table_row.build_id %> <%= status_label_for_build(build_table_row) %></td>
    <td><%= time_tag build_table_row.master_event.date_scheduled.localtime %></td>
    <td><%= time_tag build_table_row.master_event.date_completed.localtime %></td>
    <td><a href="http://gscweb.gsc.wustl.edu/<%= build_table_row.data_directory %>"><i class="icon-folder-open icon-white"></i> <span class="label label-inverse">data directory</span></a></td>
</tr>
