<div class="hero-unit">
  <h2>Model</h2> <%=@genome_model.name %>
</div>

<div class="span4 well">
    <div class="page-header">
        <h3>Model Attributes</h3>
    </div>
	<dl>
		<dt>ID</td><dd><%= @genome_model.id %></dd>
		<dt>User</dt><dd><%= @genome_model.user_name %></dd>
		<dt>Build Requested</dt><dd><%= @genome_model.build_requested %></dd>
		<dt>Creation Date</dt><dd><%= @genome_model.creation_date %></dd>
		<dt>Subject</dt><dd><%= link_span @genome_model.subject_id, subject_path(@genome_model.subject_id) %></dd>
        <dt>Last Complete Build</dt>
            <dd><% if @last_complete_build %>
                <ul>
                    <li><%= link_to content_tag(:span, @last_complete_build.build_id, :class => 'label label-inverse'), build_path(@last_complete_build) %></li>
                    <li><%= link_to content_tag(:span, '<i class="icon-folder-open icon-white"></i> data directory', :class => 'label label-inverse'), "http://gscweb.gsc.wustl.edu/#{@last_complete_build.data_directory}"  %></li>
                    <li><%= link_to content_tag(:span, '<i class="icon-file icon-white"></i> Summary Report'), "http://gscweb.gsc.wustl.edu/#{@last_complete_build.data_directory}/reports/Sumamry/report.html"  %></li>
                </ul>
                <% else %>
                    none
                <% end %>
            </dd>
	</dl>
</div>

<div class="span4 well">
    <div class="page-header">
        <h3>Processing Profile</h3>
    </div>
    <dl>
        <dt>Name</dt><dd><%= link_span(@genome_model.processing_profile.name, processing_profile_path(@genome_model.processing_profile)) %></dd>
        <dt>Type</dt><dd><%= @genome_model.processing_profile.type_name %></dd>
    </dl>
</div>

<div class="span12 well">
  <div class="page-header">
    <h2>Inputs</h2>
  </div>

  <dl>
    <% @genome_model.model_inputs.select(:name).uniq.each { |model_input_name|
      model_inputs = @genome_model.model_inputs.where('name = ?',model_input_name.name)
    %>
    <dt><%= model_input_name.name %> <span class="badge"><%= model_inputs.length %></span></dt>
    <dd><ul>
      <% model_inputs.each { |model_input| %>
        <li><%= link_span(model_input.value_id, build_path(model_input.value_id)) %></li>
      <% } %>
    </ul></dd>
  <% } %>
</dl>
</div>

<% if @genome_model.from_model_links.length or @genome_model.to_model_links.length %>
  <div class="span12 well">
    <div class="page-header">
      <h2>Model Links</h2>
    </div>

    <table class="table">
      <thead>
        <tr><th>Relationship</th><th>Model</th></tr>
      </thead>

      <tbody>
        <% if @genome_model.from_model_links.length %>
          <% @genome_model.from_model_links.each { |link| %>
            <tr>
              <td>Contains <%= link.role %></td>
              <td>Model <%= link_span(link.to_model_id, genome_model_path(link.to_model_id)) %> <%= link.to_model.name %></td>
            </tr>
          <% } %>
        <% end %>

        <% if @genome_model.to_model_links.length %>
          <% @genome_model.to_model_links.each { |link| %>
            <tr>
              <td><%= link.role %> of</td>
              <td>Model <%= link_span(link.from_model_id, genome_model_path(link.from_model_id)) %> <%= link.to_model.name %></td>
            </tr>
          <% } %>
        <% end %>
      </tbody>

    </table>
  </div>
<% end %>


<div class="span12 well">
  <div class="page-header">
    <h2>Builds</h2>
  </div>

  <% if @builds  %>
    <table class="table">
      <thead> <tr>
          <th>Build</th>
          <th>Status</th>
          <th>Scheduled</th>
          <th>Completed</th>
          <th>other</th>
      </thead></tr>
      <tbody>
        <%= render partial: 'build/build_table_row', collection: @builds %>
      </tbody>
    </table>
  <% end %>
</div>
