<tr>
  <td><%= build.id %></td>
  <% if build.master_event %>
    <td><%= build.master_event.event_status %></td>
    <td><%= build.master_event.date_scheduled %></td>
    <td><%= build.master_event.date_completed %></td>
    <td><%= build.data_directory %></td>
<% end  %>
</tr>
