<div style="float:left;">
  <h4><%= model.name %></h4>
  <ul>
    <li>ID: <%= model.id %></li>
    <li>Subject Name: <%= model.subject.name %></li>
    <li>Subject Type: <%= model.subject_class_name %></li>
    <li>Username: <%= model.user_name %></li>
    <li>Created: <%= model.creation_date %></li>
  </ul>
</div>
<div style="float:right;">
  Inputs
  <ul>
  <% model.model_inputs.each do |input| %>
    <li><%= "#{input.name} - #{input.value_id}"%></li>
  <% end %>
  </ul>
<div>
<table>
  <tr>
    <th>build</th>
    <th>status</th>
    <th>scheduled</th>
    <th>completed</th>
    <th>data directory</th>
  </tr>
  <%= render partial: 'build', collection: model.builds %>
</table>
